<md-dialog layout="column" aria-label="Adiciona um Membro da Unidade Gestora Local">
  <form name="MembroUGLForm" ng-submit="$ctrl.save($ctrl.praca, $ctrl.membrougl)">
    <md-dialog-content>

      <md-content md-theme="docs-dark" layout-padding>

        <div layout="row" layout-align="space-between center">
          <h2>Adicione um Membro da Unidade Gestora Local</h2>
        </div>
        <p>Adicione um novo membro à Unidade Gestora Local desta Unidade</p>
      </md-content>
      <md-content layout="column" layout-padding>

        <md-input-container class="md-icon-float md-block">
          <md-icon>business</md-icon>
          <label>Nome do(a) Membro</label>
          <input name="nomeMembro" required ng-model="$ctrl.membrougl.nome">
        </md-input-container>

        <md-input-container class="md-icon-float md-block">
          <md-icon></md-icon>
          <label>Tipo de Membro</label>
          <md-select name="tipoMembro" required ng-model="$ctrl.membrougl.tipo">
            <md-option ng-repeat="tipo in $ctrl.listaTipoMembro" value="{{tipo.value}}">
              {{tipo.display_name}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container flex-gt-xs=50>
          <md-icon>phone</md-icon>
          <label>Telefone</label>
          <input name="telefoneMembro" ng-model="$ctrl.membrougl.telefone" mask="(99) 9?9999-9999" clean="true">
        </md-input-container>

        <md-input-container flex-gt-xs=50>
          <md-icon>email</md-icon>
          <label>E-Mail</label>
          <input name="emailMembro" type="email" ng-model="$ctrl.membrougl.email">
        </md-input-container>

      </md-content>
    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="$ctrl.cancel()">
        Cancelar
      </md-button>
      <md-button class="md-no-focus md-raised md-primary" type="submit" ng-disabled="MembroUGLForm.$invalid">
        Enviar
      </md-button>
    </md-dialog-actions>

  </form>
</md-dialog>
