<div class="row">
  <div ng-repeat="pedido in $ctrl.pedidos" class="col s12 m6">
    <md-card class="_md md-default-theme card-vinculacao">
      <md-card-title>
        <md-card-title-media ng-click="$ctrl.showUserInfo(pedido.user)">
          <div class="md-media-sm card-media layout-row">
            <img class="md-avatar" ng-src={{pedido.user.profile_picture_url}}>
          </div>
        </md-card-title-media>
        <md-card-title-text ng-click="$ctrl.showUserInfo(pedido.user)">
          <span class="md-headline ng-binding">{{pedido.user.full_name}}</span>
          <span class="md-subhead description">Solicita vinculo com</span>
        </md-card-title-text>
      </md-card-title>
      <md-card-title class="praca">
        <md-card-title-text ng-click="$ctrl.showPracaInfo(pedido.praca)">
          <span class="md-headline ng-binding">{{pedido.praca.nome}}</span>
          <span class="md-subhead description">{{pedido.praca.municipio}} - {{pedido.praca.uf | uppercase}}</span>
        </md-card-title-text>
      </md-card-title>
      <md-menu>
        <md-button  ng-click="$mdMenu.open()" class="md-icon-button">
          <md-icon>more_vert</md-icon>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="$ctrl.startProcessoVinculacao(pedido)" aria-label="Processo de Vinculação">
              <md-icon>assignment</md-icon>
              Iniciar Processo de Vinculação
            </md-button>
          </md-menu-item>
          <md-divider></md-divider>
          <md-menu-item>
            <md-button ng-click="$ctrl.deleteProcessoVinculacao(pedido)">
              <md-icon>delete</md-icon>
              Excluir Pedido de Vinculação
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </md-card>
  </div>
</div>