<md-card ng-repeat="pedido in $ctrl.pedidos">
  <md-card-header>
    <md-card-avatar> 
      <img class="md-user-avatar" ng-src={{pedido.user.profile_picture_url}} />
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">{{pedido.user.full_name}}</span>
      <span class="md-subhead">Brasília - DF</span>
    </md-card-header-text>
  </md-card-header>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">{{pedido.praca_info.nome}}</span>
      <span class="md-subhead">{{pedido.praca_info.municipio}} - {{pedido.praca_info.uf | uppercase}}</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content layout="row" layout-align="space-between">
    <md-card-actions layout-align="space-between">
      <md-button class="md-icon-button" ng-click="$ctrl.processoVinculacao(pedido)" aria-label="Processo de Vinculação">
        <md-icon>assignment</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Informações sobre o Gestor">
        <md-icon>person</md-icon>
      </md-button>
      <md-button class="md-icon-button" aria-label="Informações sobre o Gestor">
        <md-icon>account_balance</md-icon>
      </md-button>
    </md-card-actions>
  </md-card-content>
</md-card>


