<md-dialog layout="column" flex="60" aria-label="Lista de Parceiros da Praça">
    <md-dialog-content>
        <md-content md-theme="docs-dark" layout-padding>
            <div layout="row" layout-align="space-between center">
                <h2>Lista de Parceiros da Praça</h2>
            </div>
        </md-content>

        <md-content>
            <md-card ng-repeat="parceiro in $ctrl.parceiros">
                <!-- <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ parceiro.nome }}</span>
                        <span class="md-subhead">{{ parceiro.email }}</span>
                    </md-card-title-text>
                </md-card-title> -->

                <md-cart-content layout="row" layout-align="space-between">
                    <div style="margin: 15px;">
                        <p><b>Nome do(a) Parceiro:</b> {{ parceiro.nome }}</p>
                        <p ng-if="parceiro.contato"><b>Nome do contato:</b> {{ parceiro.contato }}</p>
                        <p ng-if="parceiro.telefone"><b>Telefone:</b> {{ parceiro.telefone }}</p>
                        <p ng-if="parceiro.email"><b>Email:</b> {{ parceiro.email }}</p>
                        <p ng-if="parceiro.endereco"><b>Endereço:</b> {{ parceiro.endereco }}</p>
                        <p ng-if="parceiro.tempo_parceria"><b>Tempo previsto para parceria (em dias):</b> {{ parceiro.tempo_parceria }}</p>
                        <p ng-if="parceiro.recursos_financeiros"><b>Valor do recruso financeiro:</b> R$ {{ parceiro.recursos_financeiros }}</p>
                        <p>___________________________________________________________________________</p>
                        <md-content layout="column" layout-padding>
                            <md-input-container class="md-icon-float md-block">
                                <md-icon>business</md-icon>
                                <label>Nome do(a) Parceiro</label>
                                <input required ng-model="parceiro.nome" disabled="disabled">
                            </md-input-container>
                            <div>
                                <md-input-container class="md-block">
                                    <label>Endereço</label>
                                    <md-icon>subject</md-icon>
                                    <textarea required ng-model="parceiro.endereco" disabled="disabled"></textarea>
                                </md-input-container>
                            </div>
                            <md-input-container class="md-icon-float md-block">
                                <md-icon>person</md-icon>
                                <label>Nome do Contato</label>
                                <input ng-model="parceiro.contato" disabled="disabled">
                            </md-input-container>
                            <div layout="row">
                                <md-input-container class="md-inline" flex>
                                    <md-icon>phone</md-icon>
                                    <label>Telefone</label>
                                    <input mask="(99)99999-9999" clean="true" ng-model="parceiro.telefone" disabled="disabled">
                                </md-input-container>

                                <md-input-container class="md-inline" flex>
                                    <md-icon>email</md-icon>
                                    <label>Email</label>
                                    <input type="email" ng-model="parceiro.email" disabled="disabled">
                                </md-input-container>
                            </div>
                            <md-input-container class="md-block">
                                <md-icon>work</md-icon>
                                <label>Ramo de Atividade do Parceiro</label>
                                <md-select ng-model="$ctrl.parceiro.ramo_atividade">
                                    <md-option ng-repeat="atividade in $ctrl._listaAtividades" value="{{atividade.value}}">
                                        {{atividade.display_name}}
                                    </md-option>
                                </md-select>
                            </md-input-container>
                            <div>
                                <md-input-container class="md-block">
                                    <label>Quais ações estamos realizando juntos?</label>
                                    <md-icon>link</md-icon>
                                    <textarea rows="5" ng-model="parceiro.acoes" disabled="disabled"></textarea>
                                </md-input-container>
                            </div>
                            <md-input-container flex="50">
                                <md-icon>history</md-icon>
                                <label>Tempo previsto para a parceria (em dias)</label>
                                <input type="number" min="0" ng-model="parceiro.tempo_parceria" disabled="disabled">
                            </md-input-container>
                            <div layout-align="start center" layout="row">
                                <div flex="30">
                                    <md-switch ng-model="$ctrl.parceiro.rec_financeiro" name="recfinanceiroParceiro">
                                        A parceria envolve recursos financeiros?
                                    </md-switch>
                                </div>
                                <div>
                                    <md-input-container flex ng-show="parceiro.rec_financeiro || $ctrl.parceiro.recursos_financeiros">
                                        <md-icon>attach_money</md-icon>
                                        <label>Qual o valor?</label>
                                        <input type="currency" name="recursoFinanceiro" ng-model="parceiro.recursos_financeiros" disabled="disabled">
                                    </md-input-container>
                                </div>
                            </div>
                        </md-content>
                    </div>
                    <div show-as-manager="true">
                        <md-card-actions layout="column">
                            <md-button aria-label="Editar Parceiro" ng-click="$ctrl.parceiroEditDialog($ctrl.praca, parceiro)">
                                <md-icon>create</md-icon>
                            </md-button>
                            <md-button aria-label="Excluir Registro" ng-click="$ctrl.parceiroDelDialog($ctrl.praca, parceiro)">
                                <md-icon>cancel</md-icon>
                            </md-button>
                        </md-card-actions>
                    </div>
                </md-cart-content>
            </md-card>
        </md-content>

    </md-dialog-content>
</md-dialog>