<md-dialog layout="column" flex="60" aria-label="Lista de Parceiros da Praça">
    <md-dialog-content>
        <md-content md-theme="docs-dark" layout-padding>
            <div layout="row" layout-align="space-between center">
                <h2>Lista de Parceiros da Praça</h2>
            </div>
        </md-content>

        <md-content>
            <md-card ng-repeat="parceiro in $ctrl.parceiros">
                <!-- <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">{{ parceiro.nome }}</span>
                        <span class="md-subhead">{{ parceiro.email }}</span>
                    </md-card-title-text>
                </md-card-title> -->

                <md-cart-content layout="row" layout-align="space-between">
                    <div style="margin: 5px;">
                        <p><b>Nome:</b> {{ parceiro.nome }}</p>
                        <p ng-if="parceiro.contato"><b>Nome do contato:</b> {{ parceiro.contato }}</p>
                        <p ng-if="parceiro.telefone"><b>Telefone:</b> {{ parceiro.telefone }}</p>
                        <p ng-if="parceiro.email"><b>Email:</b> {{ parceiro.email }}</p>
                        <p ng-if="parceiro.endereco"><b>Endereço:</b> {{ parceiro.endereco }}</p>
                        <p ng-if="parceiro.tempo_parceria"><b>Tempo previsto para parceria (em dias):</b> {{ parceiro.tempo_parceria }}</p>
                        <p ng-if="parceiro.recursos_financeiros"><b>Valor do recruso financeiro:</b> R$ {{ parceiro.recursos_financeiros }}</p>
                    </div>
                    <div show-as-manager="true">
                        <md-card-actions layout="column">
                            <md-button aria-label="Editar Parceiro" ng-click="$ctrl.parceiroEditDialog($ctrl.praca, parceiro)">
                                <md-icon>create</md-icon>
                            </md-button>
                            <md-button aria-label="Excluir Registro" ng-click="$ctrl.parceiroDelDialog($ctrl.praca, parceiro)">
                                <md-icon>cancel</md-icon>
                            </md-button>
                        </md-card-actions>
                    </div>
                </md-cart-content>
            </md-card>
        </md-content>

    </md-dialog-content>
</md-dialog>