<style>
	.menu-dashboard{
		position: absolute;
		z-index: 2;
		left: 0;
	}
</style>

<div class="container" layout="row">
	<div layout-align="center center" class="menu-dashboard">
		<md-sidenav
			class="md-sidenav-left"
			md-is-locked-open="$mdMedia('gt-md')"
			md-whiteframe="4"
			layout="column">
			<md-toolbar
				class="md-theme-indigo md-toolbar-tools minc-icon"
				layout-padding
				layout="space-between center">
				<md-button class="md-icon-button">
					<md-icon>dashboard</md-icon>
				</md-button>
				<h2>
					<span>Área do Gestor MinC</span>
				</h2>
			</md-toolbar>
			<md-content>
				<md-list flex>
					<md-list-item ng-click="$state.go('app.dashboard.pracas')">
						<md-icon class="md-primary">account_balance</md-icon>
						<p>Praças</p>
					</md-list-item>
					<md-list-item ng-click="null">
						<md-icon class="md-primary">group_work</md-icon>
						<p>Gestores</p>
					</md-list-item>
					<md-list-item ng-click="$state.go('app.dashboard.events')">
						<md-icon class="md-primary">date_range</md-icon>
						<p>Agenda e Eventos</p>
					</md-list-item>
					<md-list-item ng-click="$state.go('app.dashboard.vinculacao')">
						<md-icon class="md-primary">assignment_ind</md-icon>
						<p>Pedidos de Vinculação</p>
					</md-list-item>
					<md-list-item ng-click="$state.go('app.dashboard.usuarios')">
						<md-icon class="md-primary">face</md-icon>
						<p>Usuários</p>
					</md-list-item>
					</md-list>
		</md-sidenav>
	</div>
  <div ui-view layout-fill class="container"></div>
</div>
