<div layout="row" class="dynamic " flex>
    <div class="menu animated fadeInLeft">
        <div class="title md-primary">
            <div class="row showMenu">
                <div class="col_1">
                    <section class="material-green">
                        <div class="material-icon hamburger">
                            <span class="first"></span>
                            <span class="second"></span>
                            <span class="third"></span>
                        </div>
                    </section>
                </div>
                <div class="col_2 animated fadeIn">Área do Gestor MinC</div>
            </div>
        </div>
        <div class="content">
            <div class="row waves-effect waves-orange"
                 data-ng-class="{ active: $state.includes('app.dashboard.pracas') }"
                 ng-click="$state.go('app.dashboard.pracas')">
                <div class="col_1"><i class="material-icons">account_balance</i></div>
                <div class="col_2 animated fadeIn">Praças</div>
            </div>
            <div class="row waves-effect waves-orange"
                 data-ng-class="{ active: $state.includes('app.dashboard.gestores') }"
                 ng-click="$state.go('app.dashboard.gestores')">
                <div class="col_1"><i class="material-icons">group_work</i></div>
                <div class="col_2 animated fadeIn">Gestores</div>
            </div>
            <div class="row waves-effect waves-orange"
                 data-ng-class="{ active: $state.includes('app.dashboard.events') }"
                 ng-click="$state.go('app.dashboard.events')">
                <div class="col_1"><i class="material-icons">date_range</i></div>
                <div class="col_2 animated fadeIn">Agenda e Eventos</div>
            </div>
            <div class="row waves-effect waves-orange"
                 data-ng-class="{ active: $state.includes('app.dashboard.vinculacao') }"
                 ng-click="$state.go('app.dashboard.vinculacao')">
                <div class="col_1"><i class="material-icons">assignment_ind</i></div>
                <div class="col_2 animated fadeIn">Pedidos de Vinculação</div>
            </div>
            <div class="row waves-effect waves-orange"
                 data-ng-class="{ active: $state.includes('app.dashboard.usuarios') }"
                 ng-click="$state.go('app.dashboard.usuarios')">
                <div class="col_1"><i class="material-icons">face</i></div>
                <div class="col_2 animated fadeIn">Usuários</div>
            </div>
        </div>
    </div>
    <div class="menu2" style="flex: 0 0 auto; "></div>
    <div class="container">
        <div ui-view layout-fill class=" animated fade"></div>
    </div>
</div>