<md-button aria-label="Adicionar Praça" class="md-primary md-fab md-fab-bottom-right">
  <md-tooltip md-direction="top">Adicionar Praça</md-tooltip>
  <md-icon>add</md-icon>
</md-button>
<md-content flex class="epr-content" id="pracas">
  <div layout="row" style="height:5em">
    <md-button class="big-btn md-primary" ng-click="$ctrl.toggleFilter()">
      <md-icon>search</md-icon>
    </md-button>
    <div class="epr-animate" ng-if="$ctrl.isFilterOpen">
      <md-input-container class="epr-small">
        <input ng-model="filtro.municipio" placeholder="Filtre pelo municipio" autofocus>
      </md-input-container>

      <md-input-container class="epr-small">
        <input ng-model="filtro.uf" placeholder="Filtre pelo estado(UF)">
      </md-input-container>

      <md-input-container class="epr-small">
        <md-select ng-model="filtro.modelo" placeholder="Filtre pelo modelo">
          <md-option ng-repeat="modelo in modelos"
            value="{{ modelo.value }}">
            {{ modelo.descricao }}
          </md-option>
        </md-select>
        <div class="md-errors-spacer"></div>
      </md-input-container>

      <md-input-container class="epr-small">
        <md-select ng-model="filtro.situacao" placeholder="Filtre pela situação">
          <md-option ng-repeat="situacao in situacoes"
            value="{{ situacao.value }}">
            {{ situacao.descricao }}
          </md-option>
        </md-select>
        <div class="md-errors-spacer"></div>
      </md-input-container>
    </div>
  </div>
      <md-list>
      <md-list-item
        class="md-3-line"
        layout-padding
        ng-repeat="praca in $ctrl.pracas |
          filter: {
            municipio: filtro.municipio,
            uf: filtro.uf,
            modelo: filtro.modelo,
            situacao: filtro.situacao
            }"
            ng-click="$state.go('app.praca', {pk: praca.id_pub})">
        <md-icon class="md-avatar">explorer</md-icon>
        <div class="md-list-item-text" layout="column">
          <h3>{{ praca.nome }}</h3>
          <h4>{{ praca.municipio}} - {{ praca.uf | uppercase }}</h4>
          <p>Modelo: {{ praca.modelo_descricao }}</p>
          <p>Situação: {{ praca.situacao_descricao }}</p>
        </div>
        <md-menu>

        <md-button class="md-icon-button" aria-label="Menu" ng-click="$mdOpenMenu($event)">
          <md-icon>menu</md-icon>
        </md-button>

        <md-menu-content width="4">

          <md-menu-item>
            <md-button ng-click="$ctrl.infoPraca(praca)">
              <md-icon>info</md-icon>
              Visualizar Informações sobre a Praça
            </md-button>
          </md-menu-item>

          <md-menu-item>
            <md-button ng-click="$ctrl.infoGestor(praca)">
              <md-icon>face</md-icon>
              Visualizar Informações sobre o Gestor da Praça
            </md-button>
          </md-menu-item>

          <md-menu-item>
            <md-button ng-click="$ctrl.excluirPraca(praca)">
              <md-icon>clear</md-icon>
              Excluir Praça
            </md-button>
          </md-menu-item>

        </md-menu-content>

      </md-menu>
      </md-list-item>
    </md-list>
</md-content>
<md-progress-circular ng-if="$ctrl.loadingPracas"
  md-mode="indeterminate">
</md-progress-circular>
