<md-card ng-repeat="user in $ctrl.users">
  <md-card-header>
    <md-card-avatar>
      <img class="md-user-avatar" ng-src="{{user.profile_picture_url}}"/>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">{{user.full_name}}</span>
      <span class="md-subhead">{{user.description}}</span>
    </md-card-header-text>
    <md-card-actions layout="column">
      
      <md-menu>
        <md-button class="md-icon-button" aria-label="Menu" ng-click="$mdOpenMenu($event)">
          <md-icon>menu</md-icon>
        </md-button>
        
        <md-menu-content width="4">
          <md-menu-item ng-repeat="item in user.menu">
            <md-button ng-click="item.action(user.id_pub)">
              <md-icon>{{item.icon}}</md-icon>
              {{item.name}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      
    </md-card-actions>
</md-card>
