<md-dialog layout="column" aria-label="Cadastro de Atividade da Praça">
  <md-dialog-content>
    <form name="EventForm" ng-disabled="$ctrl.isSaving" ng-submit="$ctrl.save()">

      <md-content md-theme="docs-dark" layout-padding>
        <h2>Cadastro de Atividade</h2>
        <md-input-container class="md-block" flex>
          <label>Titulo da atividade</label>
          <input name="eventName" ng-required="true" ng-model="$ctrl.eventData.titulo" md-autofocus />
        </md-input-container>
      </md-content>

        <md-content layout="column" layout-padding>

        <md-input-container>
            <md-icon>work</md-icon>
            <label>Tipo de Atividade</label>
            <md-select required ng-model="$ctrl.eventData.tipo">
              <md-option ng-repeat="atividade in $ctrl._listaAtividades" value="{{atividade.value}}">
                {{atividade.display_name}}
              </md-option>
            </md-select>
        </md-input-container>

        <div layout="row">
          <md-input-container flex>
              <md-icon>work</md-icon>
              <label>Área da Atividade</label>
              <md-select ng-model="$ctrl.eventData.area">
                <md-option ng-repeat="area in $ctrl._areaAtividade" value="{{area}}">
                  {{area.display_name}}
                </md-option>
              </md-select>
          </md-input-container>

          <md-input-container flex>
              <md-icon>work</md-icon>
              <label>Subarea da Atividade</label>
              <md-select ng-model="$ctrl.eventData.subarea">
                <md-option ng-repeat="subarea in $ctrl.eventData.area track by $id" value="{{subarea}}">
                  {{subarea.display_name}}
                </md-option>
              </md-select>
          </md-input-container>
        </div>

        <md-input-container>
            <md-icon>swap_vertical_circle</md-icon>
            <label>Faixa Etária</label>
            <md-select ng-model="$ctrl.eventData.faixaEtaria">
              <md-option ng-repeat="faixaEtaria in $ctrl._faixaEtariaAtividade" value="{{faixaEtaria.value}}">
                {{faixaEtaria.display_name}}
              </md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <md-icon>people_outline</md-icon>
            <label>Publico Participante</label>
            <md-select ng-model="$ctrl.eventData.publico">
              <md-option ng-repeat="publico in $ctrl._publicoAtividade" value="{{publico.value}}">
                {{publico.display_name}}
              </md-option>
            </md-select>
        </md-input-container>

        <md-input-container>
            <md-icon>edit_location</md-icon>
            <label>Abrangência Territorial</label>
            <md-select ng-model="$ctrl.eventData.territorio">
              <md-option ng-repeat="territorio in $ctrl._territorioAtividade" value="{{territorio.value}}">
                {{territorio.display_name}}
              </md-option>
            </md-select>
        </md-input-container>

          <div>
            <md-input-container flex>
              <!-- <label>Data de inicio da atividade</label> -->
              <md-datepicker flex ng-required="true" ng-model="$ctrl.eventData.data_inicio" md-placeholder="Data de inicio da atividade"></md-datepicker>
            </md-input-container>

            <md-input-container flex>
              <md-icon>schedule</md-icon>
              <label>Horário de Inicio</label>
              <input name="horaInicio" ng-model="$ctrl.eventData.hora_inicio" />
            </md-input-container>
          </div>

          <div>
            <md-input-container flex>
              <label>Data de encerramento da atividade</label>
              <md-datepicker ng-required="true" ng-model="$ctrl.eventData.data_encerramento"></md-datepicker>
            </md-input-container>

            <md-input-container>
              <md-icon>schedule</md-icon>
              <label>Horário de Encerramento</label>
              <input name="horaEncerramento" ng-model="$ctrl.eventData.hora_encerramento">
            </md-input-container>
          </div>

        <md-input-container>
          <md-icon>my_location</md-icon>
          <label>Local da Atividade</label>
          <md-select ng-model="$ctrl.eventData.local">
            <md-option ng-repeat="local in $ctrl._localAtividade" value="{{local}}">
              {{local.display_name}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container class="md-block" >
          <md-icon>subject</md-icon>
          <label>Descrição do Evento</label>
          <textarea name="descricaoAtividade" rows="5" ng-select-on-focus ng-model="$ctrl.eventData.descricao"></textarea>
        </md-input-container>

      </md-content>
    </form> 
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button ng-click="$ctrl.cancel()">
      Cancelar
    </md-button>
    <md-button class="md-no-focus md-raised md-primary" type="submit" ng-disabled="!($ctrl.eventData.titulo && $ctrl.eventData.data_inicio)">
      Enviar
    </md-button>
  </md-dialog-actions>
</md-dialog>
