<md-dialog arial-label="Upload de imagens da Praça">
  <md-dialog-content>
    <md-content md-theme="docs-dark" layout-padding>
      <h2>Editar imagem da Praça</h2>
    </md-content>
    <div layout-padding>
      <md-card >
        <div layout="row" layout-align="left center">
          <div flex=100 layout-margin>
            <img width="300px;" ngf-src="objForm.arquivo">
          </div>
          <div flex=100 layout-margin>
            <md-input-container class="md-block" flex>
              <label>Titulo da Imagem</label>
              <input name="imageTitle" ng-model="objForm.titulo" />
            </md-input-container>
            <md-input-container class="md-block" flex>
              <label>Descrição da Imagem</label>
              <textarea name="imageDescription" ng-model="objForm.descricao" rows="6"></textarea>
            </md-input-container>
          </div>
        </div>
      </md-card>
    </div>
  </md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="$ctrl.cancel($event)">
      Cancelar
    </md-button>
    <md-button class="md-no-focus md-raised md-primary" ng-disabled="!objForm.arquivo"  ng-click="$ctrl.save()">
      Salvar
    </md-button>
  </md-dialog-actions>
</md-dialog>
