<md-dialog aria-label="Alterar imagem de cabeçalho da Praça" flex="80">
	<md-dialog-content style="height: 80vh">
		<md-content md-theme="docs-dark" layout-padding>
			<h2>Atualize a imagem de cabeçalho da Praça</h2>
			<p>Você pode recortar uma imagem e pré-visualizar o resultado antes de alterar.</p>
			</md-content>
			<md-progress-linear
				ng-show="progress >= 0"
				md-mode="determinate"
				value={{progress}}>
			</md-progress-linear>
		<md-input-container class="md-block" flex-gt-sm layout-padding>
			<md-button
				class="md-raised"
				ngf-select
				ng-model="headerImage"
				accept="image/*"
				>
				Selecione a imagem
			</md-button>

			<div
				ng-model="headerImage"
				ngf-pattern="image/*"
				class="cropArea"
        ng-show="headerImage"
				>
				<ui-cropper
					image="headerImage | ngfDataUrl"
					area-type="rectangle"
					ng-init="croppedDataUrl = ''"
					result-image="croppedDataUrl"
					result-image-size="{w:960,h:370}"
					canvas-scalemode="full-width"
					max-canvas-dimensions="960"
        >
				</ui-cropper>
			</div>

      <md-divider ng-show="headerImage"></md-divider>
      <md-subheader ng-show="headerImage">Pré visualização</md-subheader>
			<div>
				<img flex="70" ng-src="{{croppedDataUrl}}" alt=""/>
			</div>

		</md-input-container>
	</md-dialog-content>
  <md-dialog-actions layout="row">
    <md-button ng-click="$ctrl.cancel()">
      Cancelar
    </md-button>
    <md-button class="md-no-focus md-raised md-primary" ng-disabled="!headerImage" ng-click="$ctrl.upload(croppedDataUrl, headerImage.name)">
      Enviar
    </md-button>
  </md-dialog-actions>
</md-dialog>
