<md-dialog layout="column" aria-label="Editar Informações sobre a Praça">
  <form name="PracaForm" ng-disabled="$ctrl.isSaving" ng-submit="$ctrl.save($ctrl.praca)">
    <md-dialog-content>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2>
            <b>Informações sobre a Praça</b>
          </h2>
          <span flex></span>
          <md-button class="md-icon-button" ng-click="$ctrl.$mdDialog.cancel()">
            <md-icon>close</md-icon>
          </md-button>
        </div>
      </md-toolbar>
      <md-content layout-padding>
        <md-input-container class="md-block" flex>
          <label>Nome da Praça</label>
          <input name="pracaNome" required ng-model="$ctrl.praca.nome">
        </md-input-container>
        <div layout-gt-xs="row">
          <md-input-container flex-gt-xs=50>
            <md-icon>assignment</md-icon>
            <label>Numero do Contrato</label>
            <input ng-disabled="!$ctrl.isAdmin" name="pracaContrato" required type="number" ng-model="$ctrl.praca.contrato">
          </md-input-container>
          <md-input-container ng-disabled="!$ctrl.isAdmin" flex-gt-xs=50>
            <md-icon>attach_money</md-icon>
            <label>Valor do Repasse</label>
            <input ng-disabled="!$ctrl.isAdmin" required name="pracaRepasse" type="currency" ng-model="$ctrl.praca.repasse">
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <md-input-container flex-gt-xs="50">
            <md-icon>format_paint</md-icon>
            <label>Situação da Obra</label>
            <md-icon></md-icon>
            <md-select ng-disabled="!$ctrl.isAdmin" name="pracaSituacao" required ng-model="$ctrl.praca.situacao">
              <md-option ng-repeat="situacao in $ctrl.listaSituacao" value="{{situacao.value}}">
                {{situacao.display_name}}
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container flex-gt-xs="50">
            <md-icon>account_balance</md-icon>
            <label>Modelo de Praça</label>
            <md-icon></md-icon>
            <md-select ng-disabled="!$ctrl.isAdmin" name="pracaModelo" required ng-model="$ctrl.praca.modelo">
              <md-option ng-repeat="modelo in $ctrl.listaModelo" value="{{modelo.value}}">
                {{modelo.display_name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <md-input-container class="md-block" flex ng-if="$ctrl.praca.situacao == 'i'">
          <label>Data de Inauguração</label>
          <md-datepicker ng-disabled="!$ctrl.isAdmin" ng-model="$ctrl.praca.data_inauguracao"></md-datepicker>
        </md-input-container>
        <div>
          <md-input-container class="md-block" flex>
            <md-icon>subject</md-icon>
            <label>Texto de Apresentação da Praça</label>
            <textarea rows="5" name="pracaBio" ng-model="$ctrl.praca.bio"></textarea>
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <md-input-container flex-gt-xs=50>
            <md-icon>phone</md-icon>
            <label>Telefone</label>
            <input required name="pracaTelefone1" ng-model="$ctrl.praca.telefone1" mask="(99) 9?9999-9999" clean="true">
          </md-input-container>
          <md-input-container flex-gt-xs=50>
            <md-icon>phone</md-icon>
            <label>Celular</label>
            <input required name="pracaTelefone2" ng-model="$ctrl.praca.telefone2" mask="(99) 9?9999-9999" clean="true">
          </md-input-container>
          <md-input-container flex-gt-xs=50>
            <md-icon>email</md-icon>
            <label>E-Mail</label>
            <input required name="pracaEMail1" type="email" ng-model="$ctrl.praca.email1">
          </md-input-container>
        </div>
        <div layout-gt-xs="row">
          <md-input-container flex>
            <md-icon>public</md-icon>
            <label>Página nas redes sociais</label>
            <input name="pracaPagina" type="url" placeholder="http://www.exemplo.com.br" ng-model="$ctrl.praca.pagina">
          </md-input-container>
        </div>
        <div layout-gt-xs="row" layout-padding>
          <md-input-container class="md-block" flex>
            <label>Logradouro</label>
            <textarea rows="5" name="pracaLogradouro" ng-model="$ctrl.praca.logradouro"></textarea>
          </md-input-container>
          <div layout-gt-xs="column">
            <md-input-container flex-gt-xs="30">
              <label>CEP</label>
              <input name="pracaCep" ng-model="$ctrl.praca.cep" mask="99.999-999" clean="true">
            </md-input-container>
            <md-input-container flex-gt-xs="30">
              <label>Bairro</label>
              <input name="pracaBairro" ng-model="$ctrl.praca.bairro">
            </md-input-container>
          </div>
        </div>
        <md-input-container>
          <label>Região</label>
          <md-select ng-disabled="true" name="pracaRegiao" required ng-model="$ctrl.praca.regiao">
            <md-option ng-repeat="regiao in $ctrl.listaRegiao" value="{{regiao.value}}">
              {{regiao.display_name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>UF</label>
          <md-select ng-disabled="true" name="pracaUf" ng-model="$ctrl.praca.uf">
            <md-option ng-repeat="uf in $ctrl.listaUf" ng-selected="{{uf.value == $ctrl.praca.uf}}" value="{{uf.value}}">
              {{uf.display_name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container>
          <label>Município</label>
          <input name="pracaMunicipio" required ng-model="$ctrl.praca.municipio" ng-disabled="true">
        </md-input-container>
        <h4>
          Horários de funcionamento
          <span ng-attr-style="border: 1px solid #333; background: rgb({{color.red}},{{color.green}},{{color.blue}})">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        </h4>
        <div layout>
          <md-input-container class="md-block" flex-gt-sm="30">
            <md-switch class="md-primary" name="special" ng-model="$ctrl.praca.funciona_dia_util" ng-click="$ctrl.applyEffect($ctrl.praca)">
              Segunda - Sexta
            </md-switch>
          </md-input-container>
          <div id="container-util" layout class="animated fadeIn">
            <md-input-container class="md-block" flex-gt-sm="50">
              <md-icon class="material-icons" role="img" aria-label="schedule">schedule</md-icon>
              <label>Abre</label>
              <input name="social" ng-model="$ctrl.praca.hora_abertura_dia_util" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" mask="29:69"
              />
              <div class="hint" ng-if="!$ctrl.praca.hora_abertura_dia_util">00:00</div>
            </md-input-container>
            <div layout="row" layout-align="center center" style="margin: 20px;">
              <div>-</div>
            </div>
            <md-input-container class="md-block" flex-gt-sm="50">
              <md-icon class="material-icons" role="img" aria-label="schedule">schedule</md-icon>
              <label>Fecha</label>
              <input name="social" ng-model="$ctrl.praca.hora_fechamento_dia_util" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}"
                     mask="29:69" />
              <div class="hint" ng-if="!$ctrl.praca.hora_fechamento_dia_util">00:00</div>
            </md-input-container>
          </div>
        </div>
        <div layout>
          <md-input-container class="md-block" flex-gt-sm="30">
            <md-switch class="md-primary" name="special" ng-model="$ctrl.praca.funciona_sabado" ng-click="$ctrl.applyEffect($ctrl.praca)">
              Sábado
            </md-switch>
          </md-input-container>
          <div id="container-sabado" layout>
            <md-input-container class="md-block" flex-gt-sm="50">
              <md-icon class="material-icons" role="img" aria-label="schedule">schedule</md-icon>
              <label>Abre</label>
              <input name="social" ng-model="$ctrl.praca.hora_abertura_sabado" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" mask="29:69"
              />
              <div class="hint" ng-if="!$ctrl.praca.hora_abertura_sabado">00:00</div>
            </md-input-container>
            <div layout="row" layout-align="center center" style="margin: 20px;">
              <div>-</div>
            </div>
            <md-input-container class="md-block" flex-gt-sm="50">
              <md-icon class="material-icons" role="img" aria-label="schedule">schedule</md-icon>
              <label>Fecha</label>
              <input name="social" ng-model="$ctrl.praca.hora_fechamento_sabado" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" mask="29:69"
              />
              <div class="hint" ng-if="!$ctrl.praca.hora_fechamento_sabado">00:00</div>
            </md-input-container>
          </div>
        </div>
        <div layout>
          <md-input-container class="md-block" flex-gt-sm="30">
            <md-switch class="md-primary" name="special" ng-model="$ctrl.praca.funciona_domingo" ng-click="$ctrl.applyEffect($ctrl.praca)">
              Domingo
            </md-switch>
          </md-input-container>
          <div id="container-domingo" layout>
            <md-input-container class="md-block" flex-gt-sm="50">
              <md-icon class="material-icons" role="img" aria-label="schedule">schedule</md-icon>
              <label>Abre</label>
              <input name="social" ng-model="$ctrl.praca.hora_abertura_domingo" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}" mask="29:69"
              />
              <div class="hint" ng-if="!$ctrl.praca.hora_abertura_domingo">00:00</div>
            </md-input-container>
            <div layout="row" layout-align="center center" style="margin: 20px;">
              <div>-</div>
            </div>
            <md-input-container class="md-block" flex-gt-sm="50">
              <md-icon class="material-icons" role="img" aria-label="schedule">schedule</md-icon>
              <label>Fecha</label>
              <input name="social" ng-model="$ctrl.praca.hora_fechamento_domingo" pattern="([01]?[0-9]{1}|2[0-3]{1}):[0-5]{1}[0-9]{1}"
                     mask="29:69" />
              <div class="hint" ng-if="!$ctrl.praca.hora_fechamento_domingo">00:00</div>
            </md-input-container>
          </div>
        </div>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions>
      <md-button ng-click="$ctrl.cancel()">
        Cancelar
      </md-button>
      <md-button class="btn waves-effect waves-light orange darken-2" type="submit" ng-disabled="PracaForm.$invalid">
        Enviar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
