<md-dialog layout="column" aria-label="Editar Informações sobre a Praça">
  <form name="PracaForm" ng-disabled="$ctrl.isSaving" ng-submit="$ctrl.save($ctrl.praca)">
    <md-dialog-content>

      <md-content md-theme="docs-dark" layout-padding>
        <h2>Informações sobre a Praça</h2>
        <md-input-container class="md-block" flex>
          <label>Nome da Praça</label>
          <input name="pracaNome" required ng-model="$ctrl.praca.nome">
        </md-input-container>
      </md-content>

      <md-content layout-padding>

        <div layout-gt-xs="row" layout-padding>

          <md-input-container class="md-block" flex>
            <label>Logradouro</label>
            <textarea rows="5" name="pracaLogradouro" ng-model="$ctrl.praca.logradouro"></textarea>
          </md-input-container>

          <div layout-gt-xs="column">

            <md-input-container flex-gt-xs="30">
              <label>CEP</label>
              <input name="pracaCep" ng-model="$ctrl.praca.cep">
            </md-input-container>

            <md-input-container flex-gt-xs="30">
              <label>Bairro</label>
              <input name="pracaBairro" ng-model="$ctrl.praca.bairro">
            </md-input-container>
          </div>

        </div>

        <md-input-container>
          <label>Região</label>
          <md-icon></md-icon>
          <md-select name="pracaRegiao" required ng-model="$ctrl.praca.regiao">
            <md-option ng-repeat="regiao in $ctrl.listaRegiao" value="{{regiao.value}}">
              {{regiao.display_name}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <label>UF</label>
          <md-icon></md-icon>
          <md-select name="pracaUf" required ng-model="$ctrl.praca.uf">
            <md-option ng-repeat="uf in $ctrl.listaUf" value="{{uf.value}}">
              {{uf.display_name}}
            </md-option>
          </md-select>
        </md-input-container>

        <md-input-container>
          <label>Municipio</label>
          <input name="pracaMunicipio" required ng-model="$ctrl.praca.municipio">
        </md-input-container>

        <div>
          <md-input-container class="md-block" flex>
            <label>Texto de Apresentação da Praça</label>
            <textarea rows="5" name="pracaBio" ng-model="$ctrl.praca.bio"></textarea>
          </md-input-container>
        </div>
      </md-content>

    </md-dialog-content>

    <md-dialog-actions>
      <md-button ng-click="$ctrl.cancel()">
        Cancelar
      </md-button>
      <md-button class="md-no-focus md-raised md-primary" type="submit" ng-disabled="MembroGestorForm.$invalid">
        Enviar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
