<style>
    .tab-pracas.fixed {
        z-index: 10;
        display: block !important;
        position: fixed !important;
        height: 48px;
        width: 100%;
        background-color: rgb(250, 250, 250);
        top: 0;
        left: 0;
    }

    md-tabs {
        height: 48px;
    }
</style>
<div layout="column" class="limite" id="praca">
    <div flex id="praca_header">
        <img ng-src="{{ $ctrl.praca.header_url }}" style="width: 100%"/>
        <md-fab-speed-dial
                show-authed="true"
                md-direction="down"
                id="praca-speed-dial"
                class="md-scale md-fab-top-right">
            <md-fab-trigger>
                <md-button
                        aria-label="menu"
                        class="md-fab md-warn">
                    <md-tooltip
                            md-direction="top"
                            md-visible="tooltipVisible">
                        Menu
                    </md-tooltip>
                    <md-icon>menu</md-icon>
                </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <div ng-repeat="item in $ctrl.userMenu">
                    <md-button
                            aria-label="{{ item.name }}"
                            class="md-fab md-raised md-mini"
                            ng-click="$mdDialog.show(item.dialog)">
                        <md-tooltip md-direction="left"
                                    md-visible="tooltipVisible"
                                    md-autohide="false">
                            {{ item.name }}
                        </md-tooltip>
                        <md-icon aria-label="{{ item.name }}">{{item.icon}}</md-icon>
                    </md-button>
                </div>
            </md-fab-actions>
        </md-fab-speed-dial>
    </div>
    <!-- Info&Bio -->
    <div id="container-info" layout-gt-xs="row">
        <div flex-gt-xs="35" layout-padding md-whiteframe="3" class="nome">
            <h2>{{ $ctrl.praca.nome }}</h2>
            <p>{{ $ctrl.praca.situacao_descricao }}</p>
            <p>Área Total da Praça: {{ $ctrl.praca.modelo_descricao }}</p>
        </div>

        <div flex-gt-xs="65" layout-padding md-whiteframe="3" class="bio">
            <p>{{ $ctrl.praca.bio }}</p>
        </div>
    </div>
    <div style="height: 48px">
        <div class="tab-pracas">
            <md-content class="limite layout-column">
                <div class="">
                    <md-tabs md-selected="tabIntSelected" md-dynamic-height md-border-bottom class="">
                        <md-tab label="Inicio" scroll="header"></md-tab>
                        <md-tab label="Agenda" scroll="#container-agenda" offset="48"></md-tab>
                        <md-tab label="Imagens" scroll="#container-imagens" offset="48"></md-tab>
                        <md-tab label="Grupo Gestor" scroll="#container-grupo" offset="48"></md-tab>
                        <md-tab label="Unidade Gestora Local" scroll="#container-unidade" offset="48"></md-tab>
                        <md-tab label="Localização" scroll="#container-localizacao" offset="48"></md-tab>
                    </md-tabs>
                </div>
            </md-content>
        </div>
    </div>
    <!-- Agenda -->
    <div id="container-agenda" layout-padding class="agenda" layout-align="start center">
        <div layout="row">
            <md-icon>insert_invitation</md-icon>
            <h2>Agenda</h2>
            <!-- <p>Clique aqui para acessar o calendário completo desta Praça</p> -->
        </div>
        <div class="activities-log" layout-gt-xs="row">
            <div class="event-list">
                <event-previewer ng-repeat="event in $ctrl.praca.agenda
					| filter: { data_inicio: $ctrl.parseDate($ctrl.myDate) }
					| orderBy: 'event.data_inicio'
					| limitTo: 4"
                                 event="event">
                </event-previewer>
            </div>

            <div flex class="calendar">
                <md-calendar ng-click="$ctrl.dateSet = true" ng-model="$ctrl.myDate"></md-calendar>
            </div>

        </div>
    </div>
    <!-- Imagens -->
    <div id="container-imagens" layout-gt-xs="row">
        <div flex-gt-xs="30" layout-padding class="info" md-whiteframe="3">
            <h2>Imagens</h2>
            <p>{{praca.logradouro}}</p>
            <p>Aberto todos os dias de 8h às 22h.</p>
            <p>Mais informações</p>
        </div>
    </div>
    <!-- GrupoGestor -->
    <div id="container-grupo" layout-gt-xs="row">
        <div flex-gt-xs="30" layout-padding class="info" md-whiteframe="3">
            <h2>Grupo Gestor</h2>
            <p>{{praca.logradouro}}</p>
            <p>Aberto todos os dias de 8h às 22h.</p>
            <p>Mais informações</p>
        </div>
    </div>
    <!-- UnidadeGestoraLocal -->
    <div id="container-unidade" layout-gt-xs="row">
        <div flex-gt-xs="30" layout-padding class="info" md-whiteframe="3">
            <h2>Unidade Gestora Local</h2>
            <p>{{praca.logradouro}}</p>
            <p>Aberto todos os dias de 8h às 22h.</p>
            <p>Mais informações</p>
        </div>
    </div>
    <!-- Localização -->
    <div id="container-localizacao" layout-gt-xs="row" class="localizacao">
        <div flex-gt-xs="30" layout-padding class="info" md-whiteframe="3">
            <h2>Localização</h2>
            <p>{{praca.logradouro}}</p>
            <p>Aberto todos os dias de 8h às 22h.</p>
            <p>Mais informações</p>
        </div>

        <div id="map" flex md-whiteframe="3">
            <leaflet style="z-index: -1" id="mapPane" width="100%" height="300px" lf-center="geoLoc.center"
                     defaults="geoLoc.defaults" markers="geoLoc.markers"></leaflet>
        </div>
    </div>
</div>