<md-dialog layout="column" aria-label="Adicionar um GrupoGestor da Praça">
  <form name="GrupoGestorForm" ng-submit="$ctrl.save($ctrl.praca.id_pub, $ctrl.grupogestor)">
    <md-dialog-content>

      <md-content md-theme="docs-dark" layout-padding>

        <h2>Adicione um Grupo Gestor da Praça</h2>
      </md-content>
      <md-content layout="column" layout-padding>

        <md-input-container class="md-block">
          <label>Data de Instituição</label>
          <md-datepicker required name="dataInstituicaoGG" ng-model="$ctrl.grupogestor.data_instituicao"></md-datepicker>
        </md-input-container>

        <md-input-container class="md-block">
          <label>Número total de membros</label>
          <md-icon>subject</md-icon>
          <input name="previsaoEspacosGG" type="number" min-value="0" required ng-model="$ctrl.grupogestor.previsao_espacos">
        </md-input-container>

        <md-input-container class="md-block">
          <md-icon>description</md-icon>
          <label>Tipo de Documento de Constituição</label>
          <md-select ng-model="$ctrl.grupogestor.tipo_documento">
            <md-option ng-repeat="tipo in $ctrl.listaTipoDocumento" value="{{tipo.value}}">
              {{tipo.display_name}}
            </md-option>
          </md-select>
        </md-input-container>

        <p ng-show="$ctrl.grupogestor.documento_constituicao">Nome do Arquivo: {{$ctrl.grupogestor.documento_constituicao.name}}</p>
        <p ng-show="GrupoGestorForm.constituicao_file.$error.maxSize">Arquivo muito grande
            {{errorFile.size / 1000000|number:1}}MB - Máximo: {{errorFile.$errorParam}}</p>
        <md-input-container class="md-block" layout-padding>
          <md-button
            name="constituicao_file"
            type="file"
            ngf-accept="'image/*, application/pdf'"
            ngf-max-size="20MB"
            ngf-select
            ng-model="$ctrl.grupogestor.documento_constituicao"
            class="md-raised"
            label="Documento de Constituição"
            ngf-model-invalid="errorFile">
            <md-icon>insert_drive_file</md-icon>
            Anexe o Documento de Constituição...
          </md-button>
        </md-input-container>

        <p ng-show="$ctrl.grupogestor.estatuto">Nome do Arquivo: {{$ctrl.grupogestor.estatuto.name}}</p>
        <p ng-show="GrupoGestorForm.estatuto_file.$error.maxSize">Arquivo muito grande
            {{errorFile.size / 1000000|number:1}}MB - Máximo: {{errorFile.$errorParam}}</p>
        <md-input-container class="md-block" layout-padding>
          <md-button
            name="estatuto_file"
            type="file"
            ngf-accept="'image/*, application/pdf'"
            ngf-max-size="20MB"
            ngf-select
            ng-model="$ctrl.grupogestor.estatuto"
            class="md-raised"
            label="Estatuto do Grupo Gestor"
            ngf-model-invalid="errorFile">
            <md-icon>insert_drive_file</md-icon>
            Anexe o Estatuto...
          </md-button>
        </md-input-container>

        <p ng-show="$ctrl.grupogestor.nomeacao">Nome do Arquivo: {{$ctrl.grupogestor.nomeacao.name}}</p>
        <p ng-show="GrupoGestorForm.nomeacao_file.$error.maxSize">Arquivo muito grande
          {{errorFile.size / 1000000|number:1}}MB - Máximo: {{errorFile.$errorParam}}</p>
        <md-input-container class="md-block" layout-padding>
          <md-button name="nomeacao_file" type="file" ngf-accept="'image/*, application/pdf'" ngf-max-size="20MB" ngf-select
            ng-model="$ctrl.grupogestor.nomeacao" class="md-raised" label="Nomeação do Grupo Gestor"
            ngf-model-invalid="errorFile">
            <md-icon>insert_drive_file</md-icon>
            Anexe a Nomeação...
          </md-button>
        </md-input-container>

        <p ng-show="$ctrl.grupogestor.regimento_interno">Nome do Arquivo: {{$ctrl.grupogestor.regimento_interno.name}}</p>
        <p ng-show="GrupoGestorForm.regimento_interno_file.$error.maxSize">Arquivo muito grande
          {{errorFile.size / 1000000|number:1}}MB - Máximo: {{errorFile.$errorParam}}</p>
        <md-input-container class="md-block" layout-padding>
          <md-button name="regimento_interno_file" type="file" ngf-accept="'image/*, application/pdf'" ngf-max-size="20MB"
            ngf-select ng-model="$ctrl.grupogestor.regimento_interno" class="md-raised" label="Regimento Interno da Praça"
            ngf-model-invalid="errorFile">
            <md-icon>insert_drive_file</md-icon>
            Anexe a Nomeação...
          </md-button>
        </md-input-container>

        </md-dialog-content>
        </md-dialog-content>
      </md-dialog-content>

      <md-dialog-actions>
        <md-button ng-click="$ctrl.cancel()">
          Cancelar
        </md-button>
        <md-button class="md-no-focus md-raised md-primary" type="submit" ng-disabled="GrupoGestorForm.$invalid">
          Enviar
        </md-button>
      </md-dialog-actions>

    </form>
  </md-dialog>
