<md-dialog layout="column" aria-label="Adicionar um parceiro da Praça">
  <form name="MembroGestorForm" ng-submit="$ctrl.save($ctrl.praca, $ctrl.objValue)">
    <md-dialog-content>
      <md-toolbar>
        <div class="md-toolbar-tools">
          <h2><b>Adicione um membro gestor da praça</b></h2>
          <span flex></span>
          <md-menu>
            <md-button layout-align="end start" class="md-icon-button" ng-click="$mdMenu.open($event)">
              <md-icon>menu</md-icon>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button ng-click="$ctrl.showFinalizaGrupoGestorDialog($ctrl.praca, $ctrl.grupogestor)">
                  <md-icon>info</md-icon>
                  Finaliza a atual gestão e Adiciona um novo Grupo Gestor
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
        <div class="md-toolbar-tools" style="font-size: 15px;font-weight: inherit;">
          Adicione um novo membro gestor para o atual grupo gestor. Para opções relacionadas ao gupo gestor, utilize o menu ao lado.
        </div>
      </md-toolbar>
      <md-content layout="column" layout-padding>
        <md-input-container class="md-icon-float md-block">
          <md-icon>business</md-icon>
          <label>Nome do(a) Membro</label>
          <input name="nomeMembro" required ng-model="$ctrl.objValue.nome">
        </md-input-container>
        <div>
          <md-input-container class="md-block">
            <label>Segmento de Origem do membro gestor</label>
            <md-icon>subject</md-icon>
            <md-select name="origemMembro" required ng-model="$ctrl.objValue.origem">
              <md-option ng-repeat="origem in $ctrl.listaOrigem" value="{{origem.value}}">
                {{origem.display_name}}
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <md-input-container class="md-icon-float md-block">
          <md-icon>person</md-icon>
          <label>Forma de Constituição</label>
          <md-select name="constituicaoMembro" required ng-model="$ctrl.objValue.constituicao">
            <md-option ng-repeat="constituicao in $ctrl.listaConstituicao" value="{{constituicao.value}}">
              {{constituicao.display_name}}
            </md-option>
          </md-select>
        </md-input-container>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions>
      <button type="button" ng-click="$ctrl.$mdDialog.cancel()" class="btn waves-effect {{$ctrl.booDisabled ? 'orange waves-light' : 'transparent waves-orange orange-text'}}  darken-2">{{$ctrl.booDisabled ? "Fechar" : "Cancelar"}}</button>
      <button ng-if="!$ctrl.booDisabled" class="btn waves-effect waves-light orange darken-2" type="submit" ng-disabled="MembroGestorForm.$invalid">Salvar</button>
    </md-dialog-actions>
  </form>
</md-dialog>
