<md-dialog layout="column" flex="60" aria-label="Lista de Membros Gestores">
    <md-dialog-content>

        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><b ng-show="!$ctrl.booDisabled">Lista de Grupos Gestores</b><b ng-show="$ctrl.booDisabled">Parceiro da praça</b></h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="$ctrl.$mdDialog.cancel()">
                    <md-icon >close</md-icon>
                </md-button>
            </div>

        </md-toolbar>
        <md-content ng-model="$ctrl.current.user">
            <ul class="collapsible popout" data-collapsible="expandable">
                <li ng-repeat="data in $ctrl.gruposgestores">
                    <div class="collapsible-header">
                        <i class="mdi-navigation-chevron-right"></i>
                        <a name="987"/>
                        <p ng-show="{{data.data_finalizacao == null}}">{{data.data_instituicao | date:'dd/MM/yyyy'}}</p>
                        <p ng-show="{{data.data_finalizacao !=null}}"> {{data.data_instituicao | date:'dd/MM/yyyy'}} à
                            {{data.data_finalizacao | date:'dd/MM/yyyy'}}</p>
                    </div>
                    <div class="collapsible-body">
                        <md-list ng-show="{{data.documento_constituicao != null && data.estatuto != null}}" flex>
                            <md-subheader class="md-no-sticky"><h3>Documentos</h3></md-subheader>
                            <a class="md-3-line"  target="_blank" href="{{data.documento_constituicao}}">
                                <md-list-item class="md-3-line" ng-click="null">
                                    <div class="md-list-item-text" layout="column">
                                        <h4>Constituição</h4>
                                    </div>
                                    <md-button class="md-secondary md-icon-button" aria-label="Download" >
                                        <md-icon>insert_drive_file</md-icon>
                                    </md-button>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </a>
                            <a class="md-3-line"  target="_blank" href="{{data.estatuto}}">
                                <md-list-item class="md-3-line" ng-click="null">
                                    <div class="md-list-item-text" layout="column">
                                        <h4>Estatuto</h4>
                                    </div>
                                    <md-button class="md-secondary md-icon-button" aria-label="Download" target="_blank"
                                            href="{{data.estatuto}}">
                                        <md-icon>insert_drive_file</md-icon>
                                    </md-button>
                                    <md-divider></md-divider>
                                </md-list-item>
                            </a>
                        </md-list>
                        <md-list flex>
                            <md-subheader class="md-no-sticky"><h3>Gestores</h3></md-subheader>
                            <md-list-item class="md-3-line" ng-repeat="membro in data.membros" ng-click="null">
                                <div class="md-list-item-text" layout="column">
                                    <h3>{{ membro.nome }}</h3>
                                    <p>{{ membro.origem_descricao }}</p>
                                </div>
                                <md-button show-as-manager="true" pracagestor="{{$ctrl.praca.gestor.user_id_pub}}" class="md-secondary md-icon-button"
                                           aria-label="Editar Membro Gestor"
                                           ng-click="$ctrl.membroGestorEditDialog($event, $ctrl.praca, membro)">
                                    <md-icon>create</md-icon>
                                </md-button>
                                <md-button show-as-manager="true" pracagestor="{{$ctrl.praca.gestor.user_id_pub}}" class="md-secondary md-icon-button"
                                           aria-label="Excluir Membro Gestor"
                                           ng-click="$ctrl.membroGestorEndDialog($event, $ctrl.praca, membro)">
                                    <md-icon>cancel</md-icon>
                                </md-button>
                                <md-divider></md-divider>
                            </md-list-item>
                            <md-divider></md-divider>
                        </md-list>
                    </div>
                </li>
            </ul>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions>
        <button type="button" ng-click="$ctrl.$mdDialog.cancel()" class="btn waves-effect waves-light orange darken-2">Fechar</button>
    </md-dialog-actions>
</md-dialog>