<style>
  #btn-search {
    transition: width 0.3s;
  }
</style>
<div style="margin-left: 0">
  <div class="fixed-action-btn animated bounceInUp">
    <md-button aria-label="Adicionar Praça" class=" md-fab md-fab-bottom-right">
      <md-tooltip md-direction="top">Adicionar Praça</md-tooltip>
      <md-icon>add</md-icon>
    </md-button>
  </div>
  <div id="pracas">
    <div layout="row" layout-sm="column" style="transition: all 0.4s; height: 3em;margin-top: 9px;" ng-hide="$ctrl.loadingPracas">
      <md-button id="btn-search" style="transition: width 0.4s; width: 100%;margin: 6px 4px;" class="md-accent md-raised" ng-click="$ctrl.toggleFilter()"><md-icon>search</md-icon></md-button>
      <div id="container-search" style="display: none;transition: width 0.4s;width: 100%;">
        <div class="row">
          <div class="col s12 m3 l4">
            <md-input-container class="md-block" flex>
              <input ng-model="form.municipio" placeholder="Filtre pelo municipio" autofocus>
            </md-input-container>
          </div>
          <div class="col s12 m3 l4">
            <md-input-container class="md-block" flex>
              <md-select ng-model="form.uf" placeholder="Filtre pelo Estado(UF)">
                <md-option ng-repeat="uf in $ctrl.listaUf" value="{{ uf.value }}">
                  {{ uf.display_name }}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div class="col s12 m4 l4">
            <md-input-container class="md-block" flex>
              <md-select ng-model="form.regiao" placeholder="Filtre pela região" ng-change="$ctrl.filtraRegiao(form.regiao)">
                <md-option ng-repeat="regiao in $ctrl.listaRegiao"
                  value="{{ regiao.value }}">
                  {{ regiao.display_name }}
                </md-option>
              </md-select>
              <div class="md-errors-spacer"></div>
            </md-input-container>
          </div>
          <div class="col s12 m3 l4">
            <md-input-container class="md-block" flex>
              <input ng-model="form.contrato" placeholder="Filtre pelo número do contrato" ng-change="$ctrl.filtraContrato(form.contrato)" autofocus>
            </md-input-container>
          </div>
          <div class="col s12 m4 l4">
            <md-input-container class="md-block" flex>
              <md-select ng-model="form.modelo" placeholder="Filtre pelo modelo" ng-change="$ctrl.filtraModelo(form.modelo)">
                <md-option ng-repeat="modelo in $ctrl.listaModelo"
                  value="{{ modelo.value }}">
                  {{ modelo.display_name }}
                </md-option>
              </md-select>
              <div class="md-errors-spacer"></div>
            </md-input-container>
          </div>
          <div class="col s12 m3 l4">
            <md-input-container class="md-block" flex>
              <md-select ng-model="form.situacao" placeholder="Filtre pela situação" ng-change="$ctrl.listaSituacao(form.situacao)">
                <md-option ng-repeat="situacao in $ctrl.listaSituacao"
                  value="{{ situacao.value }}">
                  {{ situacao.display_name }}
                </md-option>
              </md-select>
              <div class="md-errors-spacer"></div>
            </md-input-container>
          </div>
          <div class="col s12 m3 l3">
            <md-input-container class="md-block" flex>
              <input mask="999.999.999,99" ng-model="form.repasse_start" placeholder="Filtre pelo valor inicíal" autofocus>
            </md-input-container>
          </div>
          <div class="col s12 m3 l3">
            <md-input-container class="md-block" flex>
              <input mask="999.999.999,99" ng-model="form.repasse_end" placeholder="Filtre pelo valor final" autofocus>
            </md-input-container>
          </div>
          <div class="col s12 m3 l3">
            <div flex>
              <h4 style="color: rgb(173, 173, 173);">Filtre pela data inícial</h4>
              <md-datepicker style="width: 400px;" md-max-date="form.data_inauguracao_final" ng-model="form.data_inauguracao_inicial" md-placeholder="Insira uma data"  ng-change="$ctrl.filtrarDataInicial(form.dataInicial)"></md-datepicker>
            </div>
          </div>
          <div class="col s12 m3 l3">
            <div flex>
              <h4 style="color: rgb(173, 173, 173);">Filtre pela data final</h4>
              <md-datepicker md-min-date="form.data_inauguracao_inicial" ng-model="form.data_inauguracao_final" md-placeholder="Insira uma data"></md-datepicker>
            </div>
          </div>
        </div>
      </div>
    </div>
    <praca-list pracas="$ctrl.pracasFiltered">
    </praca-list>
  </div>
  <md-progress-circular ng-show="$ctrl.loadingPracas" md-mode="indeterminate"></md-progress-circular>
</div>