<md-button aria-label="Adicionar Praça" class="md-primary md-fab md-fab-bottom-right">
  <md-tooltip md-direction="top">Adicionar Praça</md-tooltip>
  <md-icon>add</md-icon>
</md-button>
<md-content flex class="epr-content" id="pracas">
  <div layout="row" style="height:5em">
    <md-button class="big-btn md-primary" ng-click="$ctrl.toggleFilter()">
      <md-icon>search</md-icon>
    </md-button>
    <div class="epr-animate" ng-if="$ctrl.isFilterOpen">
      <md-input-container class="epr-small">
        <input ng-model="filtro.municipio" placeholder="Filtre pelo municipio" autofocus>
      </md-input-container>

      <md-input-container class="epr-small">
        <input ng-model="filtro.uf" placeholder="Filtre pelo estado(UF)">
      </md-input-container>

      <md-input-container class="epr-small">
        <md-select ng-model="filtro.modelo" placeholder="Filtre pelo modelo">
          <md-option ng-repeat="modelo in modelos"
            value="{{ modelo.value }}">
            {{ modelo.descricao }}
          </md-option>
        </md-select>
        <div class="md-errors-spacer"></div>
      </md-input-container>

      <md-input-container class="epr-small">
        <md-select ng-model="filtro.situacao" placeholder="Filtre pela situação">
          <md-option ng-repeat="situacao in situacoes"
            value="{{ situacao.value }}">
            {{ situacao.descricao }}
          </md-option>
        </md-select>
        <div class="md-errors-spacer"></div>
      </md-input-container>
    </div>
  </div>
      <md-list>
        <praca-card praca="praca" ng-repeat="praca in $ctrl.pracas |
          filter: {
            municipio: filtro.municipio,
            uf: filtro.uf,
            modelo: filtro.modelo,
            situacao: filtro.situacao
            }">
        </praca-card>
    </md-list>
</md-content>
<md-progress-circular ng-if="$ctrl.loadingPracas"
  md-mode="indeterminate">
</md-progress-circular>
