<style>
  #btn-search {
    transition: width 0.3s;
  }
</style>
<div style="margin-left: 0">
  <div class="fixed-action-btn ">
    <md-button aria-label="Adicionar Praça" class=" md-fab md-fab-bottom-right animated bounceInUp">
      <md-tooltip md-direction="top">Adicionar Praça</md-tooltip>
      <md-icon>add</md-icon>
    </md-button>
  </div>
  <div id="pracas">
    <div layout="row" layout-sm="column" style="transition: all 0.4s; height: 3em;margin-top: 9px;" ng-hide="$ctrl.loadingPracas">
      <md-button id="btn-search" style="transition: width 0.4s; width: 100%;margin: 6px 4px;" class="md-accent md-raised" ng-click="$ctrl.toggleFilter()"><md-icon>search</md-icon></md-button>
      <div id="container-search" style="display: none;transition: width 0.4s;width: 100%;">
        <div class="row">
          <div class="col s12 m3 l4">
            <md-input-container class="md-block" flex>
              <input ng-model="form.municipio" placeholder="Filtre pelo municipio" autofocus>
            </md-input-container>
          </div>
          <div class="col s12 m3 l4">
            <md-input-container class="md-block" flex>
              <md-select ng-model="form.uf" placeholder="Filtre pelo Estado(UF)">
                <md-option ng-repeat="uf in $ctrl.listaUf" value="{{ uf.value }}">
                  {{ uf.display_name }}
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <div class="col s12 m4 l4">
            <md-input-container class="md-block" flex>
              <md-select ng-model="form.regiao" placeholder="Filtre pela região">
                <md-option ng-repeat="regiao in $ctrl.listaRegiao"
                  value="{{ regiao.value }}">
                  {{ regiao.display_name }}
                </md-option>
              </md-select>
              <div class="md-errors-spacer"></div>
            </md-input-container>
          </div>
          <div class="col s12 m3 l4">
            <md-input-container class="md-block" flex>
              <input ng-model="form.contrato" placeholder="Filtre pelo número do contrato" autofocus>
            </md-input-container>
          </div>
          <div class="col s12 m4 l4">
            <md-input-container class="md-block" flex>
              <md-select ng-model="form.modelo" placeholder="Filtre pelo modelo">
                <md-option ng-repeat="modelo in $ctrl.listaModelo"
                  value="{{ modelo.value }}">
                  {{ modelo.display_name }}
                </md-option>
              </md-select>
              <div class="md-errors-spacer"></div>
            </md-input-container>
          </div>
          <div class="col s12 m3 l4">
            <md-input-container class="md-block" flex>
              <md-select ng-model="form.situacao" placeholder="Filtre pela situação">
                <md-option ng-repeat="situacao in $ctrl.listaSituacao"
                  value="{{ situacao.value }}">
                  {{ situacao.display_name }}
                </md-option>
              </md-select>
              <div class="md-errors-spacer"></div>
            </md-input-container>
          </div>
          <div class="col s12 m3 l4">
            <md-input-container class="md-block">
              <md-datepicker md-max-date="form.data_inauguracao_final" ng-model="form.data_inauguracao_inicial" md-placeholder="Data inicial"></md-datepicker>
            </md-input-container>
          </div>
          <div class="col s12 m3 l4">
            <md-input-container class="md-block">
              <md-datepicker md-min-date="form.data_inauguracao_inicial" ng-model="form.data_inauguracao_final" md-placeholder="Data final"></md-datepicker>
            </md-input-container>
          </div>
          <div class="col s12 m3 l4">
            <md-input-container class="md-block">
              <md-select ng-model="form.repasse_end" placeholder="Filtre pelo valor de repasse">
                  <md-option value="5000000.00">
                    ---
                  </md-option>
                  <md-option ng-repeat="(valor, repasse) in $ctrl.filtroRepasses"
                    value="{{ valor }}">
                    Até {{ repasse }}
                  </md-option>
              </md-select>
            </md-input-container>
          </div>
        </div>
      </div>
    </div>
    <praca-list pracas="$ctrl.pracasFiltered">
    </praca-list>
  </div>
  <md-progress-circular ng-show="$ctrl.loadingPracas" md-mode="indeterminate"></md-progress-circular>
</div>