<div id="barra-brasil" style="background:#7F7F7F; height: 20px; padding:0 0 0 10px;display:block;">
    <ul id="menu-barra-temp" style="list-style:none;">
        <li style="display:inline; float:left;padding-right:10px; margin-right:10px; border-right:1px solid #EDEDED"><a href="http://brasil.gov.br" style="font-family:sans,sans-serif; text-decoration:none; color:white;">Portal do Governo Brasileiro</a></li>
        <li><a style="font-family:sans,sans-serif; text-decoration:none; color:white;" href="http://epwg.governoeletronico.gov.br/barra/atualize.html">Atualize sua Barra de Governo</a></li>
    </ul>
</div>
<md-toolbar layout="row" layout-align="space-between center" class="md-toolbar-tools">

	<div layout="row" layout-align="space-between center" flex class="limite">
		<div>
			<a 
				ui-sref="app.home"
				ng-bind="::$ctrl.appName | lowercase">
			</a>
		</div>
		<div>
			<!-- Exibe o Login para usário não loggados -->
			<md-list show-authed="false">
				<md-list-item>
					<md-button oauth-login-button aria-label="Entre com idCultura">
          <md-icon md-svg-icon="idcultura" class="s48" style="width: 56px; height:56px;"></md-icon>
					</md-button>
          <p hide-xs>Entre com idCultura</p>
				</md-list-item>
			</md-list>

			<!-- Exibe as opções para usuários logados -->
			<md-list show-authed="true">
        <md-menu>
          <md-list-item ng-click="$mdOpenMenu($event)">
            <img ng-src={{$ctrl.currentUser.profile_picture_url}} class="md-avatar" style="height: 56px; width:56px;">
            <span hide-xs>Olá {{::$ctrl.currentUser.first_name}}</span>
          </md-list-item>
          <md-menu-content width="5">
            <md-menu-item ng-repeat="item in userMenu">
              <md-button ng-click="$state.go(item.app)">
                <md-icon>{{item.icon}}</md-icon>
                {{item.name}}
              </md-button>
            </md-menu-item>
            <md-menu-divider></md-menu-divider>
            <md-menu-item>
              <md-button ng-click="User.logout()">
                <md-icon>cancel</md-icon>
                Fechar sessão
              </md-button>
            </md-menu-item>
          </md-menu-content>
        </md-menu>
      </md-list>
		</div>

	</div>

 </md-toolbar>
